
:root {
  --lilla: #73455A;
  --lyserød: #EFA39A;
  --crem: #F2EBD5;
  --lysebrun: #D9B596;
  --brun: #B8977B;;
  --transition-time: 0.5s;
}
/* –––––––––––––––––––––– Font-face –––––––––––––––––––––– */
@font-face {
  font-family: "AccidentalPresidency";
  src: url("../fonte/AccidentalPresidency.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonte/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonte/OpenSans-Regular.ttf");
}

/* –––––––––––––––––––––– Alle cards  –––––––––––––––––––––– */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* background: var(--crem); */
  color: #B8977B;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  font-family: "AccidentalPresidency";

  width: max-content;
}
/* –––––––––––––––––––––– Cards 2 –––––––––––––––––––––– */
.card_2 {
  font-family: "Oswald";
  --bg-filter-opacity: 0.5;
  background-image: url("../billeder/layoutdiagram.webp"),linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em var(--brun);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 4px solid var(--lilla);
  text-decoration: none;
}

.card_2:hover {
  transform: rotate(0);
}

.card_2 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card_2 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card_2 .tags {
  display: flex;
}

.card_2 .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card_2:hover .tags .tag {
  background: var(--lilla);
  color: white;
}

.card_2 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card_2:before, .card_2:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card_2:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card_2:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card_2:hover {
  color: var(--lilla);
}

.card_2:hover:before, .card_2:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card_2 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
/* –––––––––––––––––––––– Cards 3 –––––––––––––––––––––– */
.card_3 {
  font-family: "Oswald";
  --bg-filter-opacity: 0.5;
  background-image: url("../billeder/design.webp"),linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em var(--brun);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 4px solid var(--lilla);
  text-decoration: none;
}

.card_3:hover {
  transform: rotate(0);
}

.card_3 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card_3 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card_3 .tags {
  display: flex;
}

.card_3 .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card_3:hover .tags .tag {
  background: var(--lilla);
  color: white;
}

.card_3 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card_3:before, .card_3:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card_3:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card_3:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card_3:hover {
  color: var(--lilla);
}

.card_3:hover:before, .card_3:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card_3 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
/* –––––––––––––––––––––– Cards 4 –––––––––––––––––––––– */
.card_4 {
  font-family: "Oswald";
  --bg-filter-opacity: 0.5;
  background-image: url("../billeder/animation.webp"),linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em var(--brun);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 4px solid var(--lilla);
  text-decoration: none;
}

.card_4:hover {
  transform: rotate(0);
}

.card_4 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card_4 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card_4 .tags {
  display: flex;
}

.card_4 .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card_4:hover .tags .tag {
  background: var(--lilla);
  color: white;
}

.card_4 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card_4:before, .card_4:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card_4:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card_4:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card_4:hover {
  color: var(--lilla);
}

.card_4:hover:before, .card_4:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card_4 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
/* –––––––––––––––––––––– Cards 5 –––––––––––––––––––––– */
.card_5 {
  font-family: "Oswald";
  --bg-filter-opacity: 0.5;
  background-image: url("../billeder/content_2.webp"),linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em var(--brun);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 4px solid var(--lilla);
  text-decoration: none;
}

.card_5:hover {
  transform: rotate(0);
}

.card_5 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card_5 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card_5 .tags {
  display: flex;
}

.card_5 .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card_5:hover .tags .tag {
  background: var(--lilla);
  color: white;
}

.card_5 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card_5:before, .card_5:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card_5:before {
  background: white;
  width: 250%;
  height: 250%;
}

.card_5:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card_5:hover {
  color: var(--lilla);
}

.card_5:hover:before, .card_3:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card_5 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
/* –––––––––––––––––––––– Cards 6 –––––––––––––––––––––– */
.card_6 {
  font-family: "Oswald";
  --bg-filter-opacity: 0.5;
  background-image: url("../billeder/stiletile.webp"),linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em var(--brun);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 4px solid var(--lilla);
  text-decoration: none;
}

.card_6:hover {
  transform: rotate(0);
}

.card_6 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card_6 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card_6 .tags {
  display: flex;
}

.card_6 .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card_6:hover .tags .tag {
  background: var(--lilla);
  color: white;
}

.card_6 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card_6:before, .card_6:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card_6:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card_6:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card_6:hover {
  color: var(--lilla);
}

.card_6:hover:before, .card_6:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card_6 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
/* Jeg har lånt denne fra dette linkt https://codepen.io/Booligoosh/pen/mKPpQp */